@import url("https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@1;100;200;300;400;500;600;700;800;900;1000&display=swap");
@import "../util/variables";
@import "../util/functions";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 400;

  background-color: $background-color;
  color: $text-color;
}

@import "../components/Header";
@import "../components/Home";
