.Home_container {
  display: flex;
  flex: 1 1 auto;

  justify-content: center;
  align-items: start;

  padding-top: 10%;

  margin-top: 80px;

  min-width: 100vw;
  min-height: calc(100vh - 80px);
}

.Home_container h1 {
  display: inline-block;
  position: relative;

  padding: 0 12px;

  font-family: var(--title-font);
  font-size: 100px;
  font-style: italic;
  letter-spacing: 0.3rem;

  color: transparent;
  background: linear-gradient(to right, #ff00ff, #00aaff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
